#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	border-radius: 15px;
	padding: 15px;
	margin-top: 5px;
}

.job-description {
	font-size: .8em;
}

h2:hover {
   color: blue;
}

section#volunteer-experience > section > ul > li:first-child {
	color: gold;
}